<nav  class="navbar navbar-expand-lg navbar-dark bg-unique fixed-top">
  <a class="navbar-brand" routerLink="/"><img src="assets/Academyw.png" width="40"> Academy </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/register">Contact Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/register">Register <span class="sr-only">(current)</span></a>
      </li>
     
   
    
    </ul>
    
  </div>
</nav>


<div class="col-6 offset-3 text-center pt-4 mb-4">
    <div class="pt-5">

    
    
    <img src="/assets/logoacademy.png" alt="image">
    <h1 class="mb-5" style="color:#1abc9c !important">Connexion</h1>
    

      
      <form #login="ngForm" (ngSubmit)="login.valid && onSubmit(login)">
        <div class="form-group">
        <input type="text" name="email" class="form-control" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
          [ngClass]="{'invalid-textbox' :login.submitted && !email.valid }">
        <div class="alert alert-danger mt-2" *ngIf="login.submitted && email.errors?.pattern">
          <label >Email non valide.</label>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="8"
          [ngClass]="{'invalid-textbox' :login.submitted && !password.valid }">
        <div class="alert alert-danger mt-2" *ngIf="login.submitted && password.errors?.minlength">
          <label >8 caracteres aux minimum pour le mot de passe.</label>
        </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary  btn-block" > Facebook  <i class="fa fa-facebook"> </i></button>
          </div>
          
        <div class="form-group">
          <button class="btn btn-primary   btn-block" >  Gmail <i class="fa fa-google"> </i></button>
          </div>
        
        <input type="submit" value="Connecter" class="btn btn-unique btn-block">
      </form>
      
    <div  class="alert alert-danger mt-2" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
    </div>
</div>
