
 <div class="mt-5 pt-5 bg-info">
    <div class="row col-md-12">
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/5.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            <div class="col-4 p-4">
                <div class="card" >
                    <img class="card-img-top" src="./assets/landingsphotos/6.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                    </div>
                  </div>
            </div>

    </div>
     
</div>
<div class="text-center p-5">
        All right Reserved To Academy Website @2020
</div>
