<div class="container p-3 mt-5">
    <hr />
    <h2>Course : AI ( Questions list  )  </h2>
    <hr />
    <button type="button" class="btn btn-primary" (click)="openModal(addquestion)" >Ajouter un question</button>
    <hr />
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Responces List</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of quizs">
                <td >{{ quiz.question }}</td>
                <td >
                    <button  (click)="openModal(addresponce)" class="btn btn-secondary mr-2"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    <button (click)="openModal(responces)" href="http://" class="btn btn-info">Show responces</button>
                </td>
                <td >
                    <button (click)="openModalEdit(editquestion,quiz)" class="btn btn-success mr-2" style="color:white;" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" style="color:white;" (click)="openModalDelete(Delete,quiz._id)" > <i class="fa fa-trash" aria-hidden="true"></i> </button> 
   
                </td>
              </tr>
              
              
              
        </tbody>
    </table>
</div>



<ng-template #addquestion>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ajouter un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #addq="ngForm" (ngSubmit)="addq.valid && onSubmit(addq)">
        <label for="">Question</label>
        <input type="text" class="form-control" name="question" #question="ngModel" [(ngModel)]="model.question"  >
        <p class="text-danger"></p>
          <input type="hidden" name="idcour" value="{{ this.idcour }}" #idcour="ngModel" [(ngModel)]="model.idcour">
        <button class="btn btn-primary" >Save</button>
      </form>
    </div>
  </ng-template>

  <ng-template #editquestion>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modifier un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <label for="">Question</label>
        <input type="text" class="form-control" name="question"  [(ngModel)]="editquiz.question" >
        <p class="text-danger"></p>
          
        <button class="btn btn-primary" (click)="onUpdate()">Modifier</button>
      </form>
    </div>
  </ng-template>

  <ng-template #Delete>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Supprimer un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Voulez vous vraiment supprimer cet question ?</p>
        <button class="btn btn-primary" (click)="modalRef.hide()">Non</button>
        <button class="btn btn-danger" (click)="delete()">Oui</button>
    </div>
  </ng-template>

  <ng-template #addresponce>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ajouter un reponce</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  method="post">
        <label for="">responce</label>
        <input type="text" class="form-control" name="responce"  >
        <p class="text-danger"></p>
        <label for="">Right answer</label>
        <select class="form-control" name="answer"  >
                <option value="y">Yes</option>
                <option value="n">No</option>
        </select>
        <p class="text-danger"></p>
        <button class="btn btn-primary" >Save</button>
      </form>
    </div>
  </ng-template>


  <ng-template #responces>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> Reponces List </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Responce</th>
                <th scope="col">Right answer</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Question 1 </td>
                    <td >Yes</td>
                    <td ><button  class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td >Question 2 </td>
                    <td >No</td>
                    <td ><button  class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td >Question 3 </td>
                    <td >No</td>
                    <td ><button  class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
    </table>
    </div>
  </ng-template>