<nav  class="navbar navbar-expand-lg navbar-dark bg-unique fixed-top">
  <a class="navbar-brand" routerLink="/"><img src="assets/Academyw.png" width="40"> Academy </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
   
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/books">Books <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/events">Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/courses">Courses <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/reservations">Reservations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/listeattente">
          Waiting List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/resultats">Results <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/profile">profile <span class="sr-only">(current)</span></a>
      </li>
     
    
    </ul>
    
  </div>
</nav>

<div class="container p-3 mt-5">
    <hr />
    <h2>Course : AI ( Questions list  )  </h2>
    <hr />
    <button type="button" class="btn btn-primary" (click)="openModal(addquestion)" >Ajouter un question</button>
    <hr />
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Responces List</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of quizs">
                <td >{{ quiz.question }}</td>
                <td >
                    <button  (click)="openAddRModal(addresponce,quiz._id)" class="btn btn-secondary mr-2"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    <button (click)="openListRModal(responces,quiz._id)" href="http://" class="btn btn-info">Show responces</button>
                </td>
                <td >
                    <button (click)="openModalEdit(editquestion,quiz)" class="btn btn-success mr-2" style="color:white;" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" style="color:white;" (click)="openModalDelete(Delete,quiz._id)" > <i class="fa fa-trash" aria-hidden="true"></i> </button> 
   
                </td>
              </tr>
              
              
              
        </tbody>
    </table>
</div>



<ng-template #addquestion>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ajouter un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #addq="ngForm" (ngSubmit)="addq.valid && onSubmit(addq)">
        <label for="">Question</label>
        <input type="text" class="form-control" name="question" #question="ngModel" [(ngModel)]="model.question"  >
        <p class="text-danger"></p>
          <input type="hidden" name="idcour" value="{{ this.idcour }}" #idcour="ngModel" [(ngModel)]="model.idcour">
        <button class="btn btn-primary" >Save</button>
      </form>
    </div>
  </ng-template>

  <ng-template #editquestion>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modifier un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <label for="">Question</label>
        <input type="text" class="form-control" name="question"  [(ngModel)]="editquiz.question" >
        <p class="text-danger"></p>
          
        <button class="btn btn-primary" (click)="onUpdate()">Modifier</button>
      </form>
    </div>
  </ng-template>

  <ng-template #Delete>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Supprimer un question</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Voulez vous vraiment supprimer cet question ?</p>
        <button class="btn btn-primary" (click)="modalRef.hide()">Non</button>
        <button class="btn btn-danger" (click)="delete()">Oui</button>
    </div>
  </ng-template>

  <ng-template #addresponce>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Ajouter un reponse</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #addr="ngForm" (ngSubmit)="addr.valid && onAddResponse(addr)">
        
        <label for="">responce</label>
        <input type="text" class="form-control" name="response" #response="ngModel" [(ngModel)]="modelR.response"   >
        <p class="text-danger"></p>
        <label for="">Right answer</label>
        <select #state="ngModel" [(ngModel)]="modelR.state" class="form-control" name="state">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
      </select>
      <!--
        <select class="form-control" ng-options="(item?'Yes':'No') for item in [true, false]" name="state" #state="ngModel" [(ngModel)]="modelR.state"></select>
        -->
        <p class="text-danger"></p>
        <input type="hidden" name="idquiz" value="{{ this.idquiz }}" #idquiz="ngModel" [(ngModel)]="modelR.idquiz">
        <button class="btn btn-primary" >Save</button>
      </form>
    </div>
  </ng-template>


  <ng-template #responces>
    <div class="modal-header">
      <h4 class="modal-title pull-left"> Reponces List </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Responce</th>
                <th scope="col">Right answer</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let response of responses">
                    <td >{{ response.response }} </td>
                    <td >
                      <div *ngIf="response.state; else elseBlock">Yes</div>
                      <ng-template #elseBlock>No</ng-template>
                     </td>
                    <td ><button  class="btn btn-danger" (click)="openModalDeleteR(DeleteR,response._id)" >Delete</button></td>
                </tr>
               
            </tbody>
    </table>
    </div>
  </ng-template>


  <ng-template #DeleteR>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Supprimer un response</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Voulez vous vraiment supprimer cet response ?</p>
        <button class="btn btn-primary" (click)="modalRef.hide()">Non</button>
        <button class="btn btn-danger" (click)="deleteR()">Oui</button>
    </div>
  </ng-template>