<div class="mt-5 p-5">
    <hr />
    <h2>Liste des resultats </h2>
    <hr />
<table class="table table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Course Name</th>
        <th scope="col">Result</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        
        <td>Ahmed Hlali</td>
        <td>AI</td>
        <td>10/20</td>
        <td>12/12/2019</td>
        
        
      </tr>
      <tr >
        
        <td>Oussama Mrabet</td>
        <td>Algorithme</td>
        <td>15/20</td>
        <td>12/12/2020</td>
        
        
      </tr>
      <tr >
        
        <td>Salem Hlali</td>
        <td>AI</td>
        <td>06/20</td>
        <td>12/12/2019</td>
        
        
      </tr>
      <tr >
        
        <td>Asma Mrabet</td>
        <td>Algorithme</td>
        <td>19/20</td>
        <td>12/12/2020</td>
        
        
      </tr>
      
   
    </tbody>
  </table>
</div>
