/* You can add global styles to this file, and also import other style files */
.btn-unique{
    background-color: #1abc9c !important;
    border-color: #1abc9c;
    color:white;
}
.btn-unique:hover,.btn-unique:active,.btn-unique:visited{
    border-color: #1abc9c54 !important;
}
.bg-unique{
    background-color: #1abc9c !important; 
}
.text-unique{
    border-color: #1abc9c !important; 
}
