/* You can add global styles to this file, and also import other style files */
.btn-primary{
    background-color: #1abc9c !important;
    border-color: #1abc9c;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited{
    border-color: #1abc9c54 !important;
}
.bg-primary{
    background-color: #1abc9c !important; 
}
.text-primary{
    border-color: #1abc9c !important; 
}
