<div class="container p-5 mt-5">
    <div class="row col-12">
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Event
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Book
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Book
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        <div class="col-4 p-2">

            <div class="card">
                <div class="card-header">
                  Book
                </div>
                <div class="card-body">
                  <h5 class="card-title">Artificial Intelligence</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <span> <i class="fa fa-calendar" aria-hidden="true"></i> 12/12/2020</span><br /><hr />
                  <a href="#" class="btn btn-unique"> <i class="fa fa-cart-plus" aria-hidden="true"></i> reserve</a>
                </div>
              </div>
    
        </div>
        
    </div>

</div>

